<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="field_2020">
	<link name="field_link"/>
  <link
    name="field_origin">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="6.3939" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/field_origin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/field_origin.STL" />
      </geometry>
    </collision>
  </link>
	<joint
    name="link_to_origin"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="field_link" />
    <child
      link="field_origin" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="shield_generator">
    <inertial>
      <origin
        xyz="-2 1.3 -2"
        rpy="0 0 0" />
      <mass
        value="73.308" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="-2 1.3 -2"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/shield_generator.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-2 1.3 -2"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/shield_generator.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_shield"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.9373" />
    <parent
      link="field_origin" />
    <child
      link="shield_generator" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="generator_switch">
    <inertial>
      <origin
        xyz="0 -0.67 0.13"
        rpy="0 0 0" />
      <mass
        value="10.747" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/generator_switch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.65 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/generator_switch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shield_generator_to_switch"
    type="fixed">
    <origin
      xyz="-0.038100000000078 2.8199999999998 0.791837932304479"
      rpy="0 0 0" />
    <parent
      link="shield_generator" />
    <child
      link="generator_switch" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="alliance_wall">
    <inertial>
      <origin
        xyz="0.94 1 -4.73"
        rpy="0 0 0" />
      <mass
        value="96.516" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/alliance_wall.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/alliance_wall.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_wall"
    type="fixed">
    <origin
      xyz="4.05377805746124 -7.36218144785001 0"
      rpy="1.5707963267949 0 1.91986217719377" />
    <parent
      link="field_origin" />
    <child
      link="alliance_wall" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="reflective_tapes">
    <inertial>
      <origin
        xyz="0.433 -0.951 0.0016"
        rpy="0 0 0" />
      <mass
        value="0.34178" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/reflective_tapes.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/reflective_tapes.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wall_to_reflective_tapes"
    type="fixed">
    <origin
      xyz="1.21328331594503 2.46857332088113 -5.16835970970136"
      rpy="-1.17293321274731 0.489116666389105 -1.37583904498449" />
    <parent
      link="alliance_wall" />
    <child
      link="reflective_tapes" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="trench_pass">
    <inertial>
      <origin
        xyz="0.7047 -0.1072 -0.3805"
        rpy="0 0 0" />
      <mass
        value="13.144" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/trench_pass.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/trench_pass.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_trench"
    type="fixed">
    <origin
      xyz="-4.10604347347494 0.76253340000001 0.74929999999978"
      rpy="1.5707963267949 0 0" />
    <parent
      link="field_origin" />
    <child
      link="trench_pass" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="control_panel">
    <inertial>
      <origin
        xyz="0 0.025 0"
        rpy="0 0 0" />
      <mass
        value="6.6013" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/control_panel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.65 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/control_panel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="trench_to_control_panel"
    type="fixed">
    <origin
      xyz="0.70485000000005 0.0143002000000783 -0.381640079999943"
      rpy="0 -0.258746013027073 0" />
    <parent
      link="trench_pass" />
    <child
      link="control_panel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="red_bumps">
    <inertial>
      <origin
        xyz="0.841 0.013 -0.429"
        rpy="0 0 0" />
      <mass
        value="3.6706" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/red_bumps.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/red_bumps.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_red_bumps"
    type="fixed">
    <origin
      xyz="-1.91965602804253 0.164619781045379 0.00158750000004459"
      rpy="1.5707963267949 0 -1.2042771838761" />
    <parent
      link="field_origin" />
    <child
      link="red_bumps" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="blue_bumps">
    <inertial>
      <origin
        xyz="-0.841 0.013 -0.429"
        rpy="0 0 0" />
      <mass
        value="3.6706" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/blue_bumps.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/blue_bumps.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_blue_bumps"
    type="fixed">
    <origin
      xyz="1.31690456888337 1.40701899141796 0.00158749999997582"
      rpy="1.57079632679498 0 1.9373154697137" />
    <parent
      link="field_origin" />
    <child
      link="blue_bumps" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="zone_perimeters">
    <inertial>
      <origin
        xyz="5.341 0 4.107"
        rpy="0 0 0" />
      <mass
        value="2.1766" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/zone_perimeters.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/zone_perimeters.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_zone_perimeters"
    type="fixed">
    <origin
      xyz="-4.10604347347495 2.7432 0"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="field_origin" />
    <child
      link="zone_perimeters" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="field_barrier">
    <inertial>
      <origin
        xyz="-1.837 0.243 0.003"
        rpy="0 0 0" />
      <mass
        value="44.94" />
      <inertia
        ixx="1"
        ixy="1"
        ixz="1"
        iyy="1"
        iyz="1"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/field_barrier.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field_2020_description/meshes/field_barrier.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="origin_to_barrier"
    type="fixed">
    <origin
      xyz="-4.11239347347495 1.85988325 0"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="field_origin" />
    <child
      link="field_barrier" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
